<table width="670" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
	<tr>
	  <td>
	  	<p>Hello, {ADMIN_NAME},</p><br />
	  	<p>{REFERRER_NAME} has submitted a referral for a physical catalogue.</p>
	  	<p>The catalogue needs to be sent to {REFEREE_NAME}</p>
	  	<p>{ADDRESS_HTML}</p>
		<br/><br/>
	  	<p>The associated referral code is <strong>{CODE}</strong>. This should be included in the information
	  	 sent to the referee so they can register with the code and give credit to the referrer.</p>
	</td>
  </tr>
</table>
