<table width="670" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
	<tr>
	  <td>
	  	<p>Hello, {REFEREE_NAME},</p><br />
	  	<p>{REFERRER_NAME} thinks you'll be interested in what we do here at {COMPANY_NAME}.</p>
	  	<p>Why not take a look and see if there's anything we can do for you, if you like what you see,
	  		sign up for an account with your unique code below and when you place an order your friend will
	  		receive credit for introducing you to our great range.</p>
		<br/><br/>
	  	<p>Your unique registration code is <strong>{CODE}</strong></p>
	  	<br/><br/>
	  	<p><a href="{SERVER_URL}">Visit the {COMPANY_NAME} Website Now</a></p><br/>
	</td>
  </tr>
</table>
