<table cellpadding="0" cellspacing="0" style="padding:15px">
	<tr>
		<td style="background-color:#FFFFFF;">
			The following contact downloaded the {INFO_PACK_NAME}:
		</td>
	</tr>
	<tr>
		<td style="background-color:#FFFFFF;">
		</td>
	</tr>
	<tr>
		<td style="background-color:#FFFFFF;">
			First name: {FIRST_NAME}
		</td>
	</tr>
	<tr>
		<td style="background-color:#FFFFFF;">
			Surname: {SURNAME}
		</td>
	</tr>
	<tr>
		<td style="background-color:#FFFFFF;">
			Email: {EMAIL}
		</td>
	</tr>
</table>
