<table width="670" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
	<tr>
	  <td>
	  	<p>Hello, {REFERRER_NAME},</p><br />
	  	<p>Exciting news - you have received the following referral scheme store credit!</p>
	  	<ul style="list-style:none">
	  		<!-- BEGIN DYNAMIC : voucherList -->
	  			<li>{VOUCHER_VALUE_REPEATED}</li>
	  		<!-- END DYNAMIC : voucherList -->
	  	</ul>
	  	<p>The credit has automatically been applied to your account and will be available next time you login.</p>
	  	<p>Enjoy!</p>
	  	<p>- The {COMPANY_NAME} staff</p>
	</td>
  </tr>
</table>
