<table width="670" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
	<tr>
	  <td>
	  	<p>Dear {CUSTOMER_NAME},</p><br />
	  	<p>
	  		Do you know its been {DAYS_ELAPSED} since we first sent you your own personal discount?
	  		There's only {DAYS_REMAINING} days remaining to take advantage of this one-off offer now.
	  	</p>
	  	<p>Your promotional code will get you a fantastic {DISCOUNT_PERCENTAGE}% discount when you place an order.</p>
	  	<p>To benefit from this great offer simply place your order as normal and enter the code</p>
	  	<h2>{PROMOTIONAL_CODE}</h2>
	  	<p>in the checkout.</p><br/>
	  	<br/><br/><p><a href="{HOMEPAGE_URL}">Visit the {COMPANY_NAME} shop</a></p><br/>
	  	<p>Enjoy!</p>
	  	<p>- The {COMPANY_NAME} staff</p>
	</td>
  </tr>
</table>
