<table width="670" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
	<tr>
	  <td>
	  	<p>Dear {CUSTOMER_NAME},</p><br />
	  	<p>This is your own personal discount, as a thank you for ordering from us.</p>
	  	<p>At {COMPANY_NAME} we believe in rewarding our customers, thats why we have included this
	  		promotional code to net you a {DISCOUNT_PERCENTAGE}% discount next time you place an order.</p>
	  	<p>To benefit from this great offer simply place your order within then next {TIME_LIMIT_DAYS}
	  	days and enter the code</p>
	  	<h2>{PROMOTIONAL_CODE}</h2>
	  	<p>in the checkout.</p><br/>
	  	<p>{TIED_TO_ACCOUNT_OR_SHARE}</p>
	  	<br/><br/><p><a href="{HOMEPAGE_URL}">Shop at {COMPANY_NAME} now!</a></p><br/>
	  	<p>Enjoy!</p>
	  	<p>- The {COMPANY_NAME} staff</p>
	</td>
  </tr>
</table>
