<p>
	Dear {CUSTOMER_FIRST_NAME},<br />
	<br />
	We&#39;ve received the {ITEM_CODE}, {PRODUCT_NAME}, {PRODUCT_CATEGORY}, Serial #{SERIAL_NUMBER} that you returned to us.<br />
	<br />
	I&#39;m pleased to enclose it&#39;s Condition Received Report.<br />
	<br />
	We would be grateful if you could contact us as soon as you have decided how you wish to proceed.<br />
	<br />
	If we can be of any further assistance, please feel free to contact us.<br />
	<br />
	Best regards,<br />
	<br />
	{CURRENT_USER_FIRST_NAME}<br />
	<br />
	{COMPANY_NAME} Returns</p>
