<p>
	Dear {CUSTOMER_FIRST_NAME},<br />
	<br />
	As discussed, I&#39;m pleased to enclose the Returns Authorisation Note for the product you wish to return.<br />
	<br />
	We shall contact you as soon as we receive the {ITEM_CODE}, the power supply (if it has a power supply it is VERY IMPORTANT that you enclose the power supply) and any other accessories you have.<br />
	<br />
	If we can be of any further assistance, please feel free to contact us.<br />
	<br />
	Best regards,<br />
	<br />
	{CURRENT_USER_FIRST_NAME}<br />
	<br />
	{COMPANY_NAME} Returns</p>
