<p>
	Dear {CUSTOMER_FIRST_NAME},<br />
	<br />
	We&#39;ve repaired the OZL1702, 7&quot; 16/9, Camera mount LCD, Serial # 25089 that you returned to us.<br />
	<br />
	I&#39;m pleased to enclose it&#39;s Repair Report.<br />
	<br />
	If there is any outstanding payment, we would be grateful if you could contact us as soon as possible. Otherwise we will send the repaired product back to you as soon as possible.<br />
	<br />
	If we can be of any further assistance, please feel free to contact us.<br />
	<br />
	Best regards,<br />
	<br />
	{CURRENT_USER_FIRST_NAME}<br />
	<br />
	{COMPANY_NAME} Returns</p>
